@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body{
    color: white;
    font-size: 24px;
    font-family: 'Anonymous Pro', monospace;
    background-color: black;
    text-align: center;
}

#textbox{
    width: 700px;
    border: 0;
    height: 35px;
    padding-left: .5em;
    color: #E4E2E2;
    font-size: 1em;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(20, 20, 20, 0.75);
    font-weight: 300;
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#textbox:focus {
    outline:none;
}

button {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    margin: 20px auto;
    max-width: 90px auto;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 10px;
    display: inline-block;
    background-color: rgba(20, 20, 20, 0.75);
    font-size: 18px;
}

button.buttonstyle {
    color: white;
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

button.buttonstyle:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(255, 255, 255, 0.26) 0 0px 0px 40px inset;
}

button:focus {
    outline:none;
}

#clock {
    text-align: center;
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.6),  0 0 20px rgba(10, 175, 230, 0);
    font-size: 30px;
}
    
.time {
        letter-spacing: 0.05em;
        font-size: 100px;
        padding: 5px 0;
}
    
.text {
        letter-spacing: 0.1em;
        font-size: 2    2px;
        padding: 20px 0 0;
    }

#greetingMsg {
    text-align: center;
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5),  0 0 20px rgba(10, 175, 230, 0);
    font-size: 35px;
}

img {
    margin-top: 40px;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
