@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body{
    color: white;
    font-size: 24px;
    font-family: 'Anonymous Pro', monospace;
    background-color: #36393E;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeIn {
  animation-name: fadeIn;
}